@model IEnumerable<DAFA.Application.ViewModels.EventWarningViewModel>

@if (Model != null && Model.Any())
{
    <h2>Avisos</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Date)
                </td>
                <td>
                    <input type="button" class="btn btn-default" value="Resolvido" onclick="location.href='@Url.Action("Solve", "EventWarning", new { id = item.EventWarningId })'" />
                </td>
            </tr>
        }

    </table>
}
