@model DAFA.Application.ViewModels.FieldViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Jazidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<h4>Eventos</h4>
@if (Model.Events != null && Model.Events.Any())
{    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }

    </table>
}
else
{
    <div>Nenhum evento encontrado</div>
}

<br/>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FieldId }) |
    @Html.ActionLink("Voltar para a lista", "Details", "Client", new { id = Model.ClientId }, null)
</p>

